rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
    	match /decrypt_scripts/{script_name} {
    		allow read, create, delete: if false;
    	}
    	match /yt_info_response/{video_id} {
    		allow read, write: if false;
    	}
	}
}